@import '../../theme/variables';
.NewPassword {
    @include full-width();
    position: relative;
    font-family: $font-primary;
    font-weight: 300;
    .NewPasswordContainer {
        position: fixed !important;
        z-index: 1;
        @include center();
        .CompanyName {
            text-align: center;
            color: $white;
            font-size: 50px;
            text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            margin-bottom: 20px;
            font-weight: 400;
        }
        .Copyright {
            text-align: center;
            color: $white;
            margin-bottom: 35px;
            margin-top: 30px;
        }
        .WelcomeSubtitle {
            color: $white;
            font-size: 20px;
            text-align: center;
            margin-bottom: 20px;
        }
        .ValidationSuccess{
        	color: #FFF;
        	text-align:center;
        	margin-bottom:30px;
        }
    }
    .Background {
        @include background-video();
    }
    .Link {
        color: $white;
    }
    .BackToLogin {
    	margin-top:30px;
    	text-align:center;
    }
}
